<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXE Hotel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <h1>Welcome to LUXE</h1>
        <p>"Experience the luxury & comfort you deserve"</p>
    </div>
    <div class="container">
        <!-- First row: Staff and Payments -->
        <div class="row">
            <div class="card" onclick="location.href='/staff'">
                <h2>Staff</h2>
            </div>
            <div class="card" onclick="location.href='/payments'">
                <h2>Payments</h2>
            </div>
        </div>
        
        <!-- Second row: Rooms and Customers -->
        <div class="row">
            <div class="card" onclick="location.href='/rooms'">
                <h2>Rooms</h2>
            </div>
            <div class="card" onclick="location.href='/customers'">
                <h2>Customers</h2>
            </div>
        </div>

        <!-- Third row: Bookings and Discounts -->
        <div class="row">
            <div class="card" onclick="location.href='/bookings'">
                <h2>Bookings</h2>
            </div>
            <div class="card" onclick="location.href='/discounts'">
                <h2>Discounts</h2>
            </div>
        </div>

        

        <!-- Fifth row: Reservations and Reviews -->
        <div class="row">
            
            <div class="card" onclick="location.href='/reviews'">
                <h2>Reviews</h2>
            </div>
        </div>

        <!-- Sixth row: Room Types and Services -->
        <div class="row">
            <div class="card" onclick="location.href='/room_types'">
                <h2>Room Types</h2>
            </div>
            <div class="card" onclick="location.href='/services'">
                <h2>Services</h2>
            </div>
        </div>
    </div>
</body>
</html>
