<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Entry</title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body>
    <div class="form-container">
        <h2>Payment Entry</h2>
        <form action="/add-payment" method="post">
            
            <div class="form-group">
                <label for="booking_id">Booking ID:</label>
                <input type="text" id="booking_id" name="booking_id" required>
            </div>
            <div class="form-group">
                <label for="payment_date">Payment Date:</label>
                <input type="date" id="payment_date" name="payment_date" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" required>
            </div>
            <div class="form-group">
                <label for="payment_method">Payment Method:</label>
                <select id="payment_method" name="payment_method" required>
                    <option value="Credit Card">Credit Card</option>
                    <option value="Debit Card">Debit Card</option>
                    <option value="Card">Cash</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</body>
</html>
